@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootswatch";
@import "/vendor/backpack/select2/select2.css";
@import "/vendor/backpack/select2/select2-bootstrap-dick.css";
@import "mixins";

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
//[class*="col-"] {
//  padding-top: 15px;
//  padding-bottom: 15px;
//  border: 1px solid #ddd;
//}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}


/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette p.lead {
  font-size: 16px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  .featurette-heading {
    font-size: 50px;
  }
  .featurette p.lead {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.initiative-details {
  width: 100%;
  height: calc(80vh - 45px);
  display: table;
}